<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Aula 1</title>
    <link href="LayoutCCF.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <header>Esta é uma página teste de layouts</header>
    <div id="wrapper">
      <div class="a">
        <h1>Quartzo</h1>
        <p>Quartzo é como é chamado o mineral de sílica (SiO<sub>2</sub>). É o segundo mineral mais comum na terra ficando atrás apenas dos feldspatos, mas pode ter variedades raras e de grande valor como a ametista, um cristal de quartzo roxo.</p>
      </div>

      <div class="b">
        <h1>Feldspato</h1>
        <p>É o mineral mais abundante da terra. De fórmula quimica (K, Na Ca) (Si, Al)<sub>4</sub> O<sub>8</sub>, sua característica mais marcante são seus planos de clivagem (perfeita ou boa).</p>
      </div>

      <div class="d">
        <h1>Piroxenas</h1>
        <p>Podem ser representadas pela fórmula XY(Si,Al)<sub>2</sub>O<sub>6</sub>. Sãomuito comuns em rochas vulcânicas e tem alguma ocorrência em rochas plutônicas.</p>
      </div>

      <div class="c">
        <h1>Micas</h1>
        <p>É o terceiro mineral mais comum. Possui um plano de clivagem altamente perfeita, com um minimo esforço divide-se em várias folhas bem finas. Devido a esse comportamento o plano de clivagem apresenta um brilho bem intenso lembrando um metal.</p>
      </div>

      <div class="e">
        <h1>Olivinas</h1>
        <p>Fazem parte da família dos inossilicatos e tem fórmula quimica (Mg,Fe)<sub>2</sub>SiO<sub>4</sub>. É bem comum na terra, tendo sido encontrada em meteoritos, na lua e em marte.</p>
      </div>
    </div>
  </body>
</html>